
@font-face {
  font-family: PathwayGothicOne-Regular;
  src: url(../fonts/PathwayGothicOne-Regular.ttf); 
}
.navbar-default {
  background-color: white;
  margin: 0px;
  font-size: 22px;
    border-color: gray;
}

.fondo{
  background-image: url(../icon/palet.png);
	 
}
.navbar-nav > li > a {
  padding-top: 22px;
  padding-bottom: 24px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  border-bottom-color: gray;
}
.navbar-brand img {
  width: 72%;
  margin: auto 0% auto 62%;
}
.background{
	background-image: url(../icon/palet.png);
  height: 30%
}
.glyphicon {
	display: block;
	font-size: 40px;
	margin: 2px 30px;
}
hr {
  border-color: gray;
  margin-top: 0px;
  margin-bottom: 0px;
}
.men {
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
}
a {
  color: gray;
  text-align: center;
  font-family: "PathwayGothicOne-Regular";
  font-size: 18px;
  }
  a:hover{
    color:  red;
  }
  .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: fff;
}

.nav > li > a{
	padding: 28px 13px;
}
.container-fluid{
	padding-left: 0px;
}

ul.nav.nav-pills.nav-stacked {
  background-color: white;
}
aside{
	position: fixed;
	 top: 202px;
     z-index: 10;
}
 div#bs-example-navbar-collapse-1{
 	   padding-left: 0px;

 }
 .red{
 	background-color: red;
 	height: 400px;
 }
 li.canbio {
  background-color: white;
}
 li.nombre{
    position: relative;
  left: 61%;
  margin-top: 6%;
  font-size: 25px;
 }
.columnas{
  background-image: url(../icon/palet.png);
    /*position: fixed;*/
  /*overflow: hidden;*/
  /*height: 100%;*/
  /*overflow-y: scroll;*/
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

img{
  border-radius:50%;
}
.flecha{
    background-color: rgba(15, 124, 219, 0.78);
  width: 10%;
  border-radius: 50%;
  padding: 3%;
}
.flecha img{
    width: 106%;
}
.seguir span {
  float: right;
  margin-right: 143px;
  color: rgb(68, 153, 227);
  margin-bottom: 6%;
}
.flecha {
  background-color: rgba(15, 124, 219, 0.78);
  width: 9%;
  border-radius: 50%;
  padding: 3%;
  position: absolute;
}
.texto-principal h3 {
  margin-top: 89px;
}
h5{
  font-size: 18px;
}
.footer {
  padding: 5% 0% 1% 33%;
  font-size: 16px;
}
.ojo img{
 width:15%;
}
.ojo {
  text-align: center;
}
.clik{
  text-align: center;
  color: red;
}